@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>



<form  method="post" action="/home/save">
    Name: <input type="text" name="u.Name" />
    RollNumber : <input type="text" name="s.RollNumber" />

    Name: <input type="text" name="s.Name" />
    <input type="submit" />
    
</form>

